<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}MUNCH!{{else}}SPIT OUT!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">NASTY BURGER!</button>
</li>
